.flexcontainer {
    display: flex;
    flex-direction: column;
}

.cardProject{
    position: relative;
    background-color: #415a77;
    padding: 0;
    margin: 0.5rem;
    height: 15dvh;
    transition: width 0.3s, height 0.3s;
    overflow: hidden;
}

.initalState{
    overflow: hidden;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(4px);
}

.cardText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: black !important;
}

